{% extends 'navbar.html' %}

{% block content %}
{% load static %}

<div class="container mt-3 p-3 formulario">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="POST" action="">
                {% csrf_token %}

                <div class="mb-3">
                    {{ form.marca.label_tag }}
                    {{ form.marca }}
                </div>

                <div class="mb-3">
                    {{ form.modelo.label_tag }}
                    {{ form.modelo }}
                </div>

                <div class="mb-3">
                    {{ form.serial_carroceria.label_tag }}
                    {{ form.serial_carroceria }}
                </div>

                <div class="mb-3">
                    {{ form.serial_motor.label_tag }}
                    {{ form.serial_motor }}
                </div>

                <div class="mb-3">
                    {{ form.categoria.label_tag }}
                    {{ form.categoria }}
                </div>

                <div class="mb-3">
                    {{ form.precio.label_tag }}
                    {{ form.precio }}
                </div>

                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}